<header><b>物件登録</b></header><br>

<%= form_with(model: @property, local: true) do |property| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <p><%= @property.errors.count %>件のエラーがあります。</p>
      <ul>
      <% @property.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= property.label :物件名 %><br>
  <%= property.text_field  :name %><br>

  <%= property.label :賃料 %><br>
  <%= property.text_field :rent %><br>

  <%= property.label :住所 %><br>
  <%= property.text_field  :address %><br>

  <%= property.label :築年数 %><br>
  <%= property.text_field  :age %><br>

  <%= property.label :備考 %><br>
  <%= property.text_area :memo %><br><br>

  <%= property.fields_for :stations do |station| %>
    <p>最寄り駅１</p>
    <%= station.label :路線名 %><br>
    <%= station.text_field :route_name %><br><br>
    
    <%= station.label :駅名 %><br>
    <%= station.text_field :station_name %><br><br>

    <%= station.label :徒歩分数 %><br>
    <%= station.text_field :time %><br><br>
  <% end %>

  <%= property.fields_for :stations do |station| %>
    <p>最寄り駅２</p>
    <%= station.label :路線名 %><br>
    <%= station.text_field :route_name %><br><br>
    
    <%= station.label :駅名 %><br>
    <%= station.text_field :station_name %><br><br>

    <%= station.label :徒歩分数 %><br>
    <%= station.text_field :time %><br><br>
  <% end %>

<%= property.submit '登録する' %><br> <br>

<% end %>

<%= link_to '戻る', properties_path %>