<header>物件一覧</header>
<br>
<%= notice %>
<br>

<div>
<table>
  <tr>
  <th>物件名</th>
  <th>賃料</th>
  <th>住所</th>
  <th>築年数</th>
  <th>備考</th>
  </tr>
<% @properties.reverse_each do |property| %>
  <tr>
    <td><%= property.name %></td>
    <td><%= property.rent %></td>
    <td><%= property.address %></td>
    <td><%= property.age %></td>
    <td><%= property.memo %></td>
    <td><%= link_to '閲覧', property_path(property.id) %></td>
    <td><%= link_to '編集', edit_property_path(property.id) %></td>
    <td><%= link_to '削除', property_path(property.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to '物件登録をする', new_property_path %>
</div>